<div ng-controller="AboutController as ctrl">
	
	<div class="jumbotron about-container home-text	">
		<h2>About bio.agents</h2>


		<div class="about-section">
		<h4>Open Data</h4>
		<p class="description-text"><em>bio.agents content</em> is freely available to all under the Attribution 4.0 	International (<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>) license.  This means you are free to share and adapt the data, so long as you give credit and don’t restrict the freedom of others.</p>
		<p class="description-text">We welcome all types of use of the data, but ask that if you have in mind an application which uses the entire dataset, or a large scale data integration project, then please <a href="mailto:support-bio-agents@sdu.dk">discuss it with us</a> first.</p>
		</div>

		<hr>

		<div class="about-section">
		<h4>Open Source</h4>
		<p class="description-text"><em>bio.agents</em> source code is freely available to all under the GNU General Public License v3.0 <a href="https://spdx.org/licenses/GPL-3.0.html" target="_blank">(GPL-3.0</a>).  This means you are free to share and adapt our software but must ensure it remains free for all its users.
		</p>

		<p class="description-text">We welcome contributions to the code and are currently developing <a href="https://github.com/bio-agents/bioagentsRegistry/blob/master/contribution.md" target="_blank">technical and social guidelines</a> for the open development of <em>bio.agents</em>. All developments can be tracked on <a href="https://github.com/bio-agents/bioagentsRegistry/issues" target="_blank">GitHub</a>.
		</p>
		</div>

		<hr>

		<div class="about-section">
		<h4>Built by you</h4>
		
		<p class="description-text">
		We depend on the goodwill and enthusiasm of our thousands (and growing!) contributors. If you are a software developer or an institutional 
		provider of online services, we encourage you to <a href="/register" target="_blank">register</a> these in <em>bio.agents</em>; you will first 
		need to <a href="/signup" target="_blank">sign-up</a> for a <em>bio.agents</em> account if you do not already have one.	
		</p>
		<p class="description-text">
			If you are responsible for one or a few agents and services, the easiest way to register them is to use the <em>bio.agents</em> 
			<a href="/register" target="_blank">registration interface</a> which is available once you are logged on.  If you are responsible for 
			very many agents and services, or have specific requirements, it is best use the 
			<a href="https://bioagents.readthedocs.io/en/latest/api_usage_guide.html">API</a> or to <a href="mailto:support-bio-agents@sdu.dk">discuss</a> first 
			with the <em>bio.agents</em> team.
		</p>
		</div>

		<hr>

		<div class="about-section">
		<h4>Agent IDs</h4>
		
		<p class="description-text">
			All <em>bio.agents</em> entries are assigned a human-friendly, unique identifier based on the resource name, e.g. 
			<a href="/signalp" target="_blank">bioagents:signalp</a>. <span class="bolder-text">Once verified</span>, a <em>bio.agents</em> ID provides a 
			stable way to trace software and data resources and integrate <em>bio.agents</em> data with other projects.	
		</p>
		<p class="description-text">	
			<em>bio.agents</em> agent IDs are URL-safe versions of the supplied agent name, which are occasionally shortened or modified as required to produce a 
			practical identifier. They are verified (and adjusted, as necessary) manually, to ensure they are practical, that the agent description is 
			reasonable, and that the entry does not duplicate an already-existing entry.
		</p>
		<p class="description-text">
			Once an ID is created and verified, it will not be deleted and the corresponding Agent Card URL (and Agent Card) will persist in perpetuity, allowing 
			for stable cross-linking and resource tracing.
		</p>
		</div>

		<hr>

		<div class="about-section">
		<h4>Built on standards</h4>
		
		<p class="description-text">
			<em>bio.agents</em> resource descriptions adhere to rigorous information standards including precise semantics and syntax. Scientific  aspects are 
			provided by the <a href="http://github.com/edamontology/edamontology/" target="_blank">EDAM ontology</a>  and technical aspects are covered by 
			<a href="http://github.com/bio-agents/bioagentsschema" target="_blank">bioagentsSchema</a>. Both are open, community-defined standards to which you 
			can contribute.
		</p>
		<p class="description-text">
			The EDAM ontology provides a precise nomenclature (terms within a controlled vocabulary) for scientific characterisation of agents, including topic 
			(a category within the life sciences, <em>e.g.</em> "Proteomics"), operation (a specific scientific thing that a agent does, <em>e.g.</em> 
			"Peptide identification"), data  (a type of biological data, <em>e.g.</em> "Mass spectrometry spectra") and format (a specific data 
			serialisation format <em>e.g.</em> "Thermo RAW").
		</p>
		<p class="description-text">
			bioagentsSchema is a formalised XML schema (XSD) which defines a controlled vocabulary and precise syntax for some 50 general software attributes 
			such as name, description, software license and programming language.  bioagentsSchema makes heavy use of regular expressions, standard 
			identifiers and URLs (to refer to verbose information), enabling concise and consistent descriptions in <em>bio.agents</em>.
		</p>
		<p class="description-text">
			Contributions to EDAM and bioagentsSchema are most welcome.  For EDAM, see the 
			<a href="https://edamontologydocs.readthedocs.io/en/latest/getting_involved.html" target="_blank">documentation</a>. For bioagentsSchema, 
			head to <a href="http://github.com/bio-agents/bioagentsschema" target="_blank">GitHub</a>.
		</p>
		</div>

		<hr>

		<div class="about-section">
		<h4>Community-driven</h4>
		
		<p class="description-text">
			We rely upon scientific communities to improve the terminology and description of resources in different domains of the Life Sciences. 
			This includes the emerging <a href="https://www.iechor-europe.org/communities" target="_blank">communities</a> being fostered by IECHOR, 
			and any other group of scientists with an interest to help out. See <a href="https://bio.agents/communities">communities</a> for an their agent collections (this is still 
			work in progress).
		</p>
		<p class="description-text">
		We allow to build agent collections called <a href="https://bio.agents/domains">domains</a> to display collections of <em>bio.agents</em> 
		annotations in specific thematic areas. Everybody with a bio.agents login can create a domain and add agents to it.
		</p>
		</div>

		<hr>		

		<div class="about-section">
		<h4>Backed by IECHOR</h4>
		
		<p class="description-text">
			<em>bio.agents</em> is anchored within <a href="https://www.iechor-europe.org/" target="_blank">IECHOR</a>, the European Infrastructure 
			for Biological Information. IECHOR unites Europe’s leading life science organisations in managing and safeguarding the increasing volume of 
			data being generated by publicly funded research. It coordinates, integrates and sustains bioinformatics resources across its member states and 
			enables users in academia and industry to access services that are vital for their research.
		</p>
		<p class="description-text">
			<em>bio.agents</em> development is led by the <a href="https://iechor-denmark.org/" target="_blank">Danish IECHOR Node</a>. Long-term support 
			from IECHOR nodes, and engagement with a coordinated, European-wide community of experts, including national service managers, will ensure 
			that <em>bio.agents</em> remains free, open and maintained in the long term.
		</p>
		</div>

		<hr>

		<div class="about-section">
		<h4>Documentation</h4>
		
		<p class="description-text">
		Project and technical documentations are available for <a href="https://bioagents.readthedocs.io/en/latest/" target="_blank">bio.agents</a>, 
		<a href="https://bioagentsschema.readthedocs.io/en/latest/" target="_blank">bioagentsSchema</a> and the 
		<a href="https://edamontologydocs.readthedocs.io/en/latest/" target="_blank">EDAM ontology</a>. Please report any problems or make suggestions via GitHub.	
		</p>
		<p class="description-text">
			Noteworthy docs include:
			<ul>
				<li><a href="https://bioagents.readthedocs.io/en/latest/contributors_guide.html" target="_blank">Contributors Guide</a> - how to get involved with <em>bio.agents</em></li>
				<li><a href="https://bioagents.readthedocs.io/en/latest/quickstart_guide.html" target="_blank">Quickstart Guide</a> - an emerging guide for end-users of <em>bio.agents</em></li>
				<li><a href="https://bioagents.readthedocs.io/en/latest/curators_guide.html" target="_blank">Curators Guide</a> - guidelines for <em>bio.agents</em> curators, including EDAM annotation guidelines</li>
			</ul>
		</p>
		</div>

		<hr>


		<div class="about-section">
		<h4>API</h4>
		
		<p class="description-text">
			Our Web API provides an easy way to access the <em>bio.agents</em> data, allowing precise or alternatively flexible queries over all fields. Please see:
			<ul>
				<li><a href="https://bioagents.readthedocs.io/en/latest/api_reference.html" target="_blank">API reference</a></li>
				<li><a href="https://bioagents.readthedocs.io/en/latest/api_usage_guide.html" target="_blank">API Usage Guide</a></li>
			</ul>
		</p>
		<p class="description-text">
			We are looking to improve the features and performance of the API and underlying search functionality.  If you have suggestions or would like to 
			get involved please get in touch <a href="mailto:support-bio-agents@sdu.dk">directly</a> or via <a href="https://github.com/bio-agents/bioagentsregistry/issues" 
			target="_blank">GitHub</a>.
		</p>
		</div>

		<hr>

		
		<div class="about-section">
		<h4>Support</h4>
		
		<p class="description-text">	
			Whether you are a user of <em>bio.agents</em>, a developer who wants to add their agents, or a scientist who wants integrate our data with your own; 
			help is at hand.  Head over to <a href="http://github.com/bio-agents/bioagentsregistry/" target="_blank">GitHub</a>.
		</p>
		<p class="description-text">
			If you want help with EDAM then please use the <a href="https://github.com/edamontology/edamontology/issues" target="_blank">EDAM tracker.	
		</p>
		</div>


		<hr>

		<div class="about-section">
		<h4>Publications and citing</h4>
		<p class="description-text">
			If you use <em>bio.agents</em>, please cite:
			<br>
			Ison, J. et al. (2015). <a href="http://nar.oxfordjournals.org/content/early/2015/11/03/nar.gkv1116.long" target="_blank">Agents and data services 
				registry: a community effort to document bioinformatics resources.</a> <em>Nucleic Acids Research.</em> doi: 
				<a href="https://doi.org/10.1093/nar/gkv1116" target="_blank">10.1093/nar/gkv1116</a> and/or Ison, J. et al. (2019). 
				<a href="https://doi.org/10.1186/s13059-019-1772-6" target="_blank"> The bio.agents registry of software agents and data resources for the life sciences</a>
				<em>Genome Biology</em>. DOI: 10.1186/s13059-019-1772-6.
		</p>

		<p class="description-text">
			If you use EDAM or its part, please cite:
			<br>
			Ison, J., Kalaš, M., Jonassen, I., Bolser, D., Uludag, M., McWilliam, H., Malone, J., Lopez, R., Pettifer, S. and Rice, P. (2013). 
			<a href="http://bioinformatics.oxfordjournals.org/content/29/10/1325.full" target="_blank">EDAM: an ontology of bioinformatics operations, types of data and identifiers, topics and formats</a> <em>Bioinformatics</em>, doi: <a href="https://doi.org/10.1093/bioinformatics/btt113" target="_blank">10.1093/bioinformatics/btt113</a>
		</p>

		<p class="description-text">
			For more information please visit our <a href="https://bioagents.readthedocs.io/en/latest/publications.html" target="_blank">publications page</a>.
		</p>
		</div>

		

		<hr>

		<div class="about-section">
		<h4>Funding</h4>
		<p class="description-text">
			We acknowledge with gratitude the support of our funders:
			<ul>
				<li>The Danish Ministry of Higher Education and Science.</li>
				<li>IECHOR-EXCELERATE under the European Union's Horizon 2020 research and innovation programme (grant agreement number 
					<a href="https://cordis.europa.eu/project/rcn/198519_en.html" target="_blank">676559</a>).</li>
					<li>Continuous support by the <a href="https://iechor-europe.org/platforms/agents">IECHOR Agents Platform.</a></li>
			</ul>
		</p>
		</div>


	</div>

</div>